*{
    border-radius: border-box;
    margin: 2.5px;
    font-family: 'Fira Code', monospace;
    color: white;
    text-align: center;
}

/* Primeira parte superior */
header{
    height: 465px;
}

.primeirapartesup{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.roxosupesq{
    height: 150px;
    background-color: purple;
}

.azulsupdir{
    height: 150px;
    background-color: blue;
}

/* Segunda parte superior */
.segundapartesup{
    display: grid;    
    grid-template-columns: 1fr;
}

.laranjasup{
    height: 150px;
    background-color: orange;
}

.roxosup{
    height: 150px;
    background-color: purple;
}

/* Parte do meio */
section{
    display: grid;
    grid-template-columns: 1fr;
}

.cimameio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

.amarelo{
    background-color: rgb(238, 204, 13);
    height: 150px;
}

.verde{
    background-color: green;
    height: 150px;
}

.marrom{
    background-color: burlywood;
    height: 150px;
}

.azulclaro{
    background-color: cyan;
    height: 150px;
}

.baixomeio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.azulescuro{
    background-color: rgb(58, 128, 233);
    height: 150px;
}

.roxo{
    background-color: rgb(197, 14, 197);
    height: 150px;
}

/* Parte inferior */
footer{
    display: grid;
    grid-template-columns: 1fr;
}

.pretoinf{
    height: 100px;
    background-color: gray;
}

.roxoinf{
    height: 100px;
    background-color: purple;
}